.dark-mode .CommunityCard{
    background-color: #0F2027;
}
.CommunityCard{

    transition: all .5s;
    height: 90px;
    width: 250px;
    background-color: #eee;
    border-radius: 6px;
    display: inline-block;
    margin: 10px ;
    cursor: pointer;
    // box-shadow: 0px 5px 75px rgba(246, 187, 10, 0.5);
    &:hover{
        transform: scale(1.05);
    }

    &__Img{
        width: 40%;
        height: 100%;
        // background-color: #F6BB0A;
        font-weight: bold;
        text-align: center;
        font-size: 72px;
        color: white;
        border-radius: 6px 0 0 6px;
        // display: inline-block;
        float: left;
    }
    &__Info{
        border-top: 2px solid rgba(grey, 0.2);
        border-right: 2px solid rgba(grey, 0.2);
        border-bottom: 2px solid rgba(grey, 0.2);
        // display: inline-block;
        border-radius: 0 6px 6px 0 ;
        float: left;
        width: 60%;
        height: 100%;
        text-align: left;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        & h1{
            font-size: 24px;
            margin: 0px;
            width: 100%;
        }
        & h2{
            font-weight: 300;
            font-size: 12px;
            margin: 0px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .CommunityCard{
        &__Info{
            // padding: 0;
        }
    }
}